/****** Bloc complet ******/

body
{
	margin: 0;
}

#bloc-complet
{

	margin: auto;
	overflow: auto;
	width: 1000px;
	max-width: 100%;
	border: 0.5px solid #feca07;
}

/************** Entête **************/

header
{
	display: flex;
}



.photo-presentation {
	display: flex;
    width: 30%;
    min-width:30%; 
    justify-content: center;
    align-items: center;
    background-color: #feca07;
}

.my-photo
{
	width: 180px;
	height: 180px;
	border: 1px solid #daaf12;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.title
{
	width: 70%;
	margin: 70px 0 50px 0;
	padding-right: 5%;
	padding-left: 5%;
}

h1
{
	font-size: 3em;
}


/******************** Corps CV *****************/

#all
{
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    color: #4a4a4a;
}


#colonne
{
	background: #feca07;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
	width: 300px;
}

#principal
{
    flex: 2;
    margin-top: -33px;
}

.contact
{
	height: 15%;
	overflow:visible;
	margin-bottom: 10em;
}

.contact>p
{
    margin: 1em 2em;
}


.moi
{
	margin-bottom: 15em;
}

.moi>p
{
    margin: 2em 2em;
}

.loisirs
{
    text-align:center!important;
    padding-top:15em;
    margin-bottom:-8em;
    align-items:center;
    height: 10%;
}

.formation-title .experience-title .recommandation-title
{
	font-size: 1.6em;
	text-transform: uppercase;
	margin-top: 30px;
	padding-bottom: 5px;
	border-bottom: solid 2px #feca07;

}

em
{
	text-decoration: underline #feca07;
}

#prenom
{
	color: #feca07;
}

h4
{
	color: #feca07;
	background: #404040;
	text-align: center;
}

.i {
    text-align:center!important;
    padding-top:2em;
    padding-bottom:2em;
    align-items:center;
}

ul
{
	list-style-type: none;
}

/************************************************************/

