/** Reset CSS **/
* {

	box-sizing: border-box;
}

/****** Bloc complet ******/

body
{
	margin: 0;
}

body p
{
	font-size:15px;
	
}

#bloc-complet
{

	margin: auto;
	width: 1000px;
	max-width: 100%;
	border: 0.5px solid #feca07;
}

#cv
{

	display: flex;
}

/************** Entête **************/

header
{
	display: flex;
}

.photo
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #feca07;
	width: 30%;
}

.my-photo
{
	width: 200px;
	height: 200px;
	border: 1px solid #daaf12;
    border-radius: 100%;
    object-fit: cover;
}

.title
{
	width: 70%;
	padding-right: 5%;
	padding-left: 5%;
}

h1
{
	font-size: 2.9em;
	margin-bottom: 20px;
}


/******************** Corps CV *****************/

#all
{
    color: #4a4a4a;
}


#colonne
{
	background: #feca07;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
	width: 30%;
}

#principal
{
    flex: 2;
    margin-top: -33px;
    margin-right: 25px;
    margin-left: 25px;
    width: 70%;
}


/******************** Colonne *****************/

.contact
{
	overflow:visible;
	display: flex;
	flex-direction: column;

}

.contact>div
{
    text-align: left;
	padding-left: 20px;
}

.contact>div>p
{
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.2em;
}

.moi
{
	display: flex;
	flex-direction: column;
	margin-top: 3em;
}

.moi>p
{
    margin: 2em 2em;
    font-size: 20px;
    text-align: justify;
}

.loisirs
{
    padding-top:2em;
    display: flex;
    flex-direction: column;

}

.mes-loisirs {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.mes-loisirs>i
{
	border: 3px solid #4a4a4a;
    border-radius: 100%;
    font-size: 35px;
    padding: 15px;
}

h4
{
	color: #feca07;
	background: #404040;
	text-align: center;
	padding: 10px;
	font-size: 20px;
}

a
{
	color: #4a4a4a;
}


/******************** Partie Principale*****************/


.formation-title, .experience-title, .recommandation-title
{
	font-size: 1.1em;
	text-transform: uppercase;
	margin-top: 17px;
	padding-bottom: 5px;
	border-bottom: solid 2px #feca07;
	display: flex;
	align-items: center;
}

.formation
{
	margin-top: 40px;
}

em
{
	text-decoration: underline #feca07;
}

#prenom
{
	color: #feca07;
}

ul
{
	list-style-type: none;
}

li
{
	display: flex;
	align-items: baseline;
	margin-left: -30px;
}

#principal .icone
{
	margin-right: 30px;
	font-size: 30px;
	color: #feca07;
}

#principal .p-icone
{
	font-size: 17px;
	color: #feca07;
}
.date-lieu
{
	width: 25%;

}

.description
{
	width: 75%
}

.recommandations-contact
{
	display: flex;
	justify-content: space-around;
}

.reco-part
{
	width: 45%;
}




/* Responsive moins de 785px  */

@media all and (max-width: 785px)
{
/****** Bloc complet ******/
	
#all
{
	max-width: 100%;
}
	
body p
{
	font-size:10px;
}


#cv
{
	flex-direction: column;
}

/************** Entête **************/

.photo
{
	background-color: white;
}

.my-photo
{
    width: 80px;
    height: 80px;
	border: 1px solid black;
}

.title
{
	width: 70%;
}

h1
{
	font-size: 1.5em;
}
	
h2
{
	font-size: 1em;
}


/******************** Corps CV *****************/
#colonne
{
	width: 100%;
}

#principal
{
	width: 100%;
}

/******************** Colonne *****************/

.contact
{
	margin-top: -20px;
}

.contact>div
{
	text-align: center;
	padding: 0px;
}

.contact>div>p
{
	font-size: 1em;
	text-align: center;
	margin: 15px;
}

.moi
{
	margin-top: 1em;
}

.moi>p
{
    margin: 1em 1em;
    font-size: 1em;
    text-align: justify;
}

.loisirs
{
    padding-top: 1em;
}

.mes-loisirs 
{
	margin-bottom: 20px;
}

.mes-loisirs>i
{
	border: 3px solid #4a4a4a;
    border-radius: 100%;
    font-size: 20px;
    padding: 10px;
}

h4
{
	padding: 8px;
	font-size: 15px;
}

/******************** Partie Principale*****************/


.formation-title, .experience-title, .recommandation-title
{
	font-size: 15px;
	margin-right: 50px;
}

.formation
{
	margin-top: 40px;
}

li
{
	margin-left: -60px;
}

#principal .icone
{
	margin-right: 30px;
	font-size: 20px;
	color: #feca07;
}
		
#principal .p-icone
{
	font-size: 15px;
	color: #feca07;
}

.date-lieu
{
	width: 25%;
}

.description
{
	width: 75%;
	margin-right: 30px;
}
	
h3
{
	font-size: 14px;
}

.reco-part
{
	width: 50%;
}

 }
/************************************************************/