/** Reset CSS **/
* {

	box-sizing: border-box;
}

/****** Bloc complet ******/

body
{
	margin: 0;
}

#bloc-complet
{

	margin: auto;
	width: 1000px;
	max-width: 100%;
	border: 0.5px solid #feca07;
}

/************** Entête **************/

header
{
	display: flex;
}

.my-photo
{
	width: 200px;
	height: 200px;
	border: 1px solid #daaf12;
    border-radius: 100%;
    object-fit: cover;
    display: flex;
    margin: auto;
}

.title
{
	width: 70%;
	margin: 70px 0 50px 0;
	padding-right: 5%;
	padding-left: 5%;
}

h1
{
	font-size: 3em;
}


/******************** Corps CV *****************/

#all
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #4a4a4a;
}


#colonne
{
	background: #feca07;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
	width: 30%;
}

#principal
{
    flex: 2;
    margin-top: -33px;
    margin-right: 25px;
    margin-left: 25px;
}

.contact
{
	overflow:visible;
	display: flex;
	flex-direction: column;

}

.contact>div
{
    text-align: left;
	padding-left: 20px;
}

.contact>div>p
{
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.2em;
}

.moi
{
	display: flex;
	flex-direction: column;
}

.moi>p
{
    margin: 2em 2em;
}

.loisirs
{
    padding-top:22em;
    display: flex;
    flex-direction: column;

}

.mes-loisirs {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.mes-loisirs>i
{
	width: 20px;
	height: 20px;
	border: 2px solid #daaf12;
    border-radius: 100%;
    transform: scale(1);
    transition: all 600ms 100ms;
}

.formation-title, .experience-title, .recommandation-title
{
	font-size: 1.3em;
	text-transform: uppercase;
	margin-top: 17px;
	padding-bottom: 5px;
	border-bottom: solid 2px #feca07;
	display: flex;
	align-items: center;
}

em
{
	text-decoration: underline #feca07;
}

#prenom
{
	color: #feca07;
}

h4
{
	color: #feca07;
	background: #404040;
	text-align: center;
}

ul
{
	list-style-type: none;
}

/************************************************************/

